<div class="jumbotron" style="height: calc(95vh);">
    <h1>Stroup! There it is!</h1>
    <p class="lead">
      Nicole, you first saw this just a few hours before we were married.
      Think of how far we've come even in this short time!
    </p>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/524376282" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      
      
      <!-- 16:9 aspect ratio -->
      <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XpqswYhJRH4"></iframe> -->
    </div>
    <br>
    <p>
      Our story has only just begun.  Let this website serve as a small sign of my commitment to 
       keep pursuing adventures together, to not bite off more than we can chew, and to always remember "Love is the 
       [Taco] Tuesdays."
    </p>
  </div>
  <!-- <a href="https://open.spotify.com/embed/album/3DIMaIqQvaGXaYJMFT9LbD">Tuesdays</a> -->