<div class="jumbotron" style="height: calc(95vh);">
    <h1>Stroup! There it is!</h1>
    <p class="lead">
      Nicole, if you're seeing this, then we are just a few hours away from being married.
    </p>
    <p>
      I hope you enjoy this short video welcoming you into the family.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <!-- 16:9 aspect ratio -->
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qi_Ojd0yHeU"></iframe>
    </div>
    <br>
    <p>
      Our story has only just begun.  This website is a small sign of my commitment to 
       keep pursuing adventures together, to never lose the spice of life, and to always remember "Love is the 
       [Taco] Tuesdays."
    </p>
  </div>