<div class="jumbotron" style="height: calc(95vh);">
    <h1>Stroup! There it is!</h1>
    <p class="lead">
      Nicole, if you're seeing this, then we are just a few hours away from being married.
    </p>
    <p>
      I hope you enjoy this short video welcoming you into the family:
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <!-- 16:9 aspect ratio -->
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XpqswYhJRH4"></iframe>
    </div>
    <br>
    <p>
      Our story has only just begun.  Let this website serve as a small sign of my commitment to 
       keep pursuing adventures together, to not bite off more than we can chew, and to always remember "Love is the 
       [Taco] <a href="https://open.spotify.com/embed/album/3DIMaIqQvaGXaYJMFT9LbD">Tuesdays</a>."
    </p>
  </div>